/* --------- IDs -----------*/

#farmImg {
	width: 200px;
	height: 96px;
}


/* ----------- CLASS ---------*/

.aboutInfo {
	width: auto;
	padding: 0px 60px;
	margin-top: 20px;
	color: mauve;
	background-color: rgba(210, 173, 124, 0.8);
}


#fbicon {
    display: inline-block;
    width: 7%;
    height: 16%;
    margin-top: 60px;
    margin-left: 25px;
    border-radius: 20px;
    margin-bottom: 5px;

}

#twittericon {
    display: inline-block;
    width: 6%;
    height: 30%;
    margin-top: 60px;
    border-radius: 20px;
    margin-bottom: 5px;
    

}

#instagramicon {
    display: inline-block;
    width: 4%;
    height: 5%;
    margin-top: 50px;
    border-radius: 20px;
    padding-top: 9px;



}

#pinteresticon {
    display: inline-block;
    width: 15%;
    height: 20%;
    margin-top: 50px;
    border-radius: 10px;
    padding-top: 9px;
    margin-bottom: 0px;
}
 
#socMedia {
    margin: 0 auto;
    clear: left;
    text-align: center;

}