/*Careers*/
table, th, td {
	
	border: 2px solid black;
	color: #faebd7;
	max-width: 100%;
	font-family: 'Rubik' black;
	background-color: #A46C39;
	overflow: hidden;
	background-color: rgba(70,0,0,0.26); 
	text-shadow: 2px 2px black;

}

td {
	padding: 1.6em;
	font-size: 1.5em;
}

td:hover {
	/*background-color: black;*/
	transform: rotateX(360deg) scale(1.2, 1.1);
	transition: 3s 0.2s;
}

#submitResume:hover {
		background-color: #E44424;

}

th {
	background-color: #E44424;
	font-size: 1.8em;
}

#currentListings { 
font-size: 30px;
 }

#submitResume {
    background-color: #A2AB58; 
    border: 1px solid black;
    color: #faebd7;
    padding: 40px 40px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 60px;
  	margin-top: 40px;
	margin-left: 20px;
    font-size: 18px;
   	font-family: 'Bungee';
	font-weight: bold;
    float: left;
}

#huge {
	width: 100%;
	position: relative;
}

#careerHeader {
	position: absolute;
	width: 50%;
	top: 200px;
	left: 12em;
	font-size: 65px;
	font-family: 'Bungee';
	text-shadow: 4px 4px black;
	color: #E44424;
}

#bottomHeader {
	position: absolute;
	width: 30%;
	top: 340px;
	left: 28em;
	font-size: 30px;
	font-family: 'Bungee';
	text-shadow: 5px 5px 5px black;
	color: #E44424;
}

#socMedia {
	text-align: center;
	position: relative;
	left: 100px;
	right: 30px;
	bottom: 80px;
	display: inline-block;
	margin: 30px;
}

#fbicon {
    display: inline-block;
    width: 4.15%;
    height: 10%;
    margin-top: 60px;
    margin-left: 25px;
    border-radius: 20px;
    margin-bottom: 5px;

}

#twittericon {
    display: inline-block;
    width: 3%;
    height: 5%;
    margin-top: 60px;
    border-radius: 20px;
    margin-bottom: 5px;
    

}

#instagramicon {
    display: inline-block;
    width: 3.70%;
    height: 4.25%;
    margin-top: 50px;
    border-radius: 20px;
    padding-top: 9px;



}

#pinteresticon {
    display: inline-block;
    width: 3.9%;
    height: 4.5%;
    margin-top: 50px;
    border-radius: 10px;
    padding-top: 9px;
    margin-bottom: 5px;
}
 
#socMedia {
    margin: 0 auto;
    clear: left;
    text-align: center;


